.Card {
  padding: 20px;
  background-color: rgb(252, 252, 252);
  border: 3px solid rgb(250, 250, 250);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  picture {
    img {
      width: 100%;
      height: 230px;
      object-fit: cover;
    }
  }
  .Card_info {
    height: auto;
    h3 {
      margin: 10px 0;
    }
    p {
      width: 100%;
      height: 40px;
      background-color: #3ecfb0;
      padding: 10px;
      display: flex;
      margin-bottom: 7px;
      align-items: center;
      color: white;
    }
    .Card_wrapper-description {
      overflow-y: scroll;
      overflow-x: hidden;
      height: 100px;
      p {
        height: auto;
        color: gray;
        background-color: white;
      }
    }
  }
}
