@import "../index.scss";

.Header {
  background-color: red;
  margin-top: 10px;
  .Header_slogan {
    background-color: rgb(62, 207, 176);
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 100px;
    font-family: $font;
    color: white;
    h1 {
      margin-bottom: 10px;
    }
    h4 {
      font-weight: 200;
    }
  }
}
