@import "../index.scss";

.Header {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  .Header_slogan {
    background-color: rgb(62, 207, 176);
    height: 300px;
    display: flex;
    color: white;
    justify-content: space-around;
    .Slogan {
      display: flex;
      flex-direction: column;
      font-family: $font;
      justify-content: center;
      h1 {
        margin-bottom: 15px;
      }
    }
    .ShowFilters {
      // background-color: red;
      font-family: $font;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h3 {
        margin-bottom: 10px;
      }
      ul {
        list-style: none;
        font-weight: 600;
      }
    }
  }
}
